#email-text::placeholder {font-family: Koh Santepheap; font-weight: 700; word-wrap: break-word; font-size: 30px; position: absolute; bottom: 18px;}

#senha-text::placeholder {font-family: Koh Santepheap; font-weight: 700; word-wrap: break-word; font-size: 30px; position: absolute; bottom: 18px;}