body {
  background-color: white;
}
  
#navbar-limit-login {
  width: 100%;
  height: 90px;
  left: 0px;
  top: 100px;
  position: absolute;
  overflow: hidden;
}

#navbar-img-login {
  width: 100%;
  left: 0px;
  top: -390px;
  position: absolute;
}

#navbar-login {
  width: 100%;
  height: 10px;
  left: 0px;
  top: 190px;
  position: absolute;
  background: #3c0909;
}

#navbar-text-login {
  left: 77px;
  top: 275px;
  position: absolute;
  color: black;
  font-size: 35px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}
  
  #container-login {
    max-width: 900px;
    width: 90%;
    margin: 420px auto -20px auto;
    padding: 40px 30px;
    background: whitesmoke;
    border-radius: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#texto-email-login {
    color: #3c0909;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 45px;
}

#form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
  
  #email-box-login,
  #senha-box-login {
      width: 100%;
      max-width: 758px;
      position: relative;
      margin-bottom: 100px;
  }
  
  
  #email-background-login {
    width: 758px;
    height: 100px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  #email-icon-login {
    width: 70px;
    height: 70px;
    left: 43px;
    top: 15px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 9999px;
    border: 1px rgba(0, 0, 0, 0.37) solid;
  }
  
  #email-img-login {
    width: 40.05px;
    height: 32px;
    left: 59.15px;
    top: 35px;
    position: absolute;
  }
  
  #email-text-login {
    width: 564px;
    height: 68px;
    left: 138px;
    top: 17px;
    position: absolute;
    background: white;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 25px;
    color: #3c0909;
    border: none;
    outline: none;
  }

  #email-label-login {
    width: 135px;
    height: 16px;
    left: 140px;
    position: absolute;
    color: rgba(60, 8.97, 8.97, 0.6);
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
  }

  #email-icon-login {
    width: 70px;
    height: 70px;
    left: 43px;
    top: 15px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 9999px;
    border: 1px rgba(0, 0, 0, 0.37) solid;
  }
  
  #cadastro-text-login {
    width: 196px;
    height: 15px;
    left: 504px;
    top: 980px;
    position: absolute;
    color: #3c0909;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  #cadastro-link-login {
    width: 230px;
    height: 69px;
    left: 706px;
    top: 955px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 255, 0.8);
    font-size: 15px;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
  }
  
  #senha-background-login {
    width: 758px;
    height: 100px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  #senha-icon-login {
    width: 70px;
    height: 70px;
    left: 43px;
    top: 15px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 9999px;
    border: 1px rgba(0, 0, 0, 0.37) solid;
  }
  
  #senha-text-login {
    width: 564px;
    height: 68px;
    left: 138px;
    top: 17px;
    position: absolute;
    background: white;
    border: 0;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 25px;
    color: #3c0909;
    outline: none;
  }
  
  #senha-label-login {
    width: 135px;
    height: 16px;
    left: 140px;
    position: absolute;
    color: rgba(60, 8.97, 8.97, 0.6);
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  #senha-img-login {
    width: 29.04px;
    height: 38px;
    left: 65px;
    top: 31px;
    position: absolute;
  }
  
  #botao-login {
    width: 250px;
    height: 74px;
    left: 647px;
    top: 856  px;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    background: #3c0909;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #email-text-login::placeholder {
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 25px;
    position: absolute;
    bottom: 16.5px;
    border: none;
  }
  
  #senha-text-login::placeholder {
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 25px;
    position: absolute;
    bottom: 10.5px;
    border: none;
  }
  
@media (max-width: 768px) {
    #container-login {
        margin-top: 350px;
        padding: 30px 20px;
    }

    #texto-email-login {
        font-size: 28px;
    }

    #email-text-login,
    #senha-text-login {
        font-size: 20px;
    }

    #botao-login {
        width: 100%;
        max-width: 300px;
        font-size: 20px;
    }
}
