*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.classe-mae{
  display: flex;
  margin-top: 200px;
  flex-direction: column;
}

.descricao-pagina-cadastro{
  display: flex;
  font-size: 20px;
  margin-left: 30px;
  align-items: center;
  color: black;
}

.container-cadastro{
  width: 882px;
  height: 450px;
  display: flex;
  align-items: center;
  border-radius: 52px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 315px;
  margin-top: 30px;
}




.area-cadastro{
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  width: 800px;
  height: 70px;
  margin-bottom: 30px;
}


.img-email{
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.img-senha{
  margin-left: 30px;
  width: 50px;
  height: 50px;
}

.img-perfil{
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

#texto-senha{
  justify-content: center;
  align-items: center;
  margin-right: 420px;
  font-weight: 600;
  opacity: 0.5;
  margin-left: 30px;
}

h2{
  font-weight: 550;
  color: #3C0909;
  font-size: 20px;
}

button{
  width: 190px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #3C0909;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 287px;


}

button>a{
  color: white;
  text-decoration: none;
}

#botao-cadastro>p{
  font-weight: 700;
}

#input-cadastro{
  width: 564px;
  height: 40px;
  font-weight: 600px;
  border: none;
  outline: none;
  
}

#input-cadastro::placeholder{
  font-size: 24px;
  font-weight: 700;
}

