body {
  background-color: white;
}

@media (max-width: 768px) {
  #header-container-cadastro {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  #header-left-cadastro,
  #header-right-cadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

#container-content {
  display: flex;
  justify-content: center;
}

#container-cadastro {
  max-width: 900px;
  width: 90%;
  margin: 0px;
  padding: 40px 30px 0px 30px;
  border-radius: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#form-cadastro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#nome-box-cadastro,
#email-box-cadastro,
#senha-box-cadastro {
  width: 100%;
  max-width: 758px;
  position: relative;
  margin-bottom: 100px;
}


#nome-background-cadastro {
  width: 758px;
  height: 100px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#nome-icon-cadastro {
  width: 70px;
  height: 70px;
  left: 43px;
  top: 15px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border-radius: 9999px;
  border: 1px rgba(0, 0, 0, 0.37) solid;
}

#nome-img-cadastro {
  width: 36px;
  height: 37px;
  left: 61.25px;
  top: 33px;
  position: absolute;
}

#nome-text-cadastro {
  width: 564px;
  height: 68px;
  left: 138px;
  top: 17px;
  position: absolute;
  background: white;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 25px;
  color: #3c0909;
  border: none;
  outline: none;
}

#nome-label-cadastro {
  width: 135px;
  height: 16px;
  left: 140px;
  position: absolute;
  color: rgba(60, 8.97, 8.97, 0.6);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

#nome-icon-cadastro {
  width: 70px;
  height: 70px;
  left: 43px;
  top: 15px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border-radius: 9999px;
  border: 1px rgba(0, 0, 0, 0.37) solid;
}

#email-background-cadastro {
  width: 758px;
  height: 100px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#email-icon-cadastro {
  width: 70px;
  height: 70px;
  left: 43px;
  top: 15px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border-radius: 9999px;
  border: 1px rgba(0, 0, 0, 0.37) solid;
}

#email-img-cadastro {
  width: 40.05px;
  height: 32px;
  left: 59.15px;
  top: 35px;
  position: absolute;
}

#email-text-cadastro {
  width: 564px;
  height: 68px;
  left: 138px;
  top: 17px;
  position: absolute;
  background: white;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 25px;
  color: #3c0909;
  border: none;
  outline: none;
}

#email-label-cadastro {
  width: 135px;
  height: 16px;
  left: 140px;
  position: absolute;
  color: rgba(60, 8.97, 8.97, 0.6);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

#email-icon-cadastro {
  width: 70px;
  height: 70px;
  left: 43px;
  top: 15px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border-radius: 9999px;
  border: 1px rgba(0, 0, 0, 0.37) solid;
}

#cadastro-text-cadastro {
  width: 196px;
  height: 15px;
  left: 504px;
  top: 980px;
  position: absolute;
  color: #3c0909;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

#cadastro-link-cadastro {
  width: 230px;
  height: 69px;
  left: 706px;
  top: 955px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 255, 0.8);
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: underline;
  word-wrap: break-word;
}

#senha-background-cadastro {
  width: 758px;
  height: 100px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#senha-icon-cadastro {
  width: 70px;
  height: 70px;
  left: 43px;
  top: 15px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border-radius: 9999px;
  border: 1px rgba(0, 0, 0, 0.37) solid;
}

#senha-text-cadastro {
  width: 564px;
  height: 68px;
  left: 138px;
  top: 17px;
  position: absolute;
  background: white;
  border: 0;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 25px;
  color: #3c0909;
  outline: none;
}

#senha-label-cadastro {
  width: 135px;
  height: 16px;
  left: 140px;
  position: absolute;
  color: rgba(60, 8.97, 8.97, 0.6);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

#senha-img-cadastro {
  width: 29.04px;
  height: 38px;
  left: 65px;
  top: 31px;
  position: absolute;
}

#botao-cadastro {
  width: 250px;
  height: 74px;
  left: 647px;
  top: 856px;
  color: white;
  font-size: 25px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  background: #3c0909;
  border-radius: 10px;
  cursor: pointer;
}

#nome-text-cadastro::placeholder {
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 25px;
  position: absolute;
  bottom: 16.5px;
  border: none;
}

#senha-text-cadastro::placeholder {
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 25px;
  position: absolute;
  bottom: 10.5px;
  border: none;
}

@media (max-width: 768px) {
  #container-cadastro {
    margin-top: 350px;
    padding: 30px 20px;
  }

  #texto-email-cadastro {
    font-size: 28px;
  }

  #texto-nome-cadastro {
    font-size: 28px;
  }

  #nome-text-cadastro,
  #email-text-cadastro,
  #senha-text-cadastro {
    font-size: 20px;
  }

  #botao-cadastro {
    width: 100%;
    max-width: 300px;
    font-size: 20px;
  }
}