body {
    background-color: white;
}

/* HEADER */
header {
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    background: #3C0909;
    font-family: Poppins;
    color: white;
}

#header-container {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    box-sizing: border-box;
}

#header-logo {
    /*config a "logo" */
    display: flex;
    align-items: center;
    gap: 15px;
}


#header-disc {
    /* config a imagem*/
    width: 30px;
    height: 30px;
}

h1 {
    /*config o titulo*/
    color: white;
    font-size: 25px;
    font-weight: 400;
}


/* SEARCH BAR */
#searchbar {
    display: flex;
    align-items: center;

    width: 740px;
    height: 55px;
    background: white;

    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 4px;
}

#searchbar-zoom {
    width: 17.5px;
    height: 17.5px;
    margin-right: 10px;
}

#searchbar-title {
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Poppins;

    border: none;
    outline: none;
    width: 90%;

    word-wrap: break-word;
}

#searchbar-title::placeholder {
    color: rgba(0, 0, 0, 0.37);
}


/*LOGIN e CARRINHO*/
#header-login {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-right: 50px; */
}

#header-perfil {
    color: white;
    font-size: 15px;
    font-family: Poppins;
    /* white-space: nowrap; */
    margin-right: 50px;
}

#header-criar {
    color: white;
    font-size: 15px;
    /* white-space: nowrap; */
}

#header-cart {
    width: 20px;
    height: 20px;
    margin-left: 65px;
}

/*is logged*/
#profile {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-perfil-image {
    color: white;
    font-size: 15px;
    font-family: Poppins;
}

@media (max-width: 768px) {
    #header-container-headerlogout {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    #header-left-headerlogout,
    #header-right-headerlogout,
    #searchbar-wrapper-headerlogout {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #searchbar-headerlogout {
        width: 90%;
        max-width: 740px;
    }
}