body {
    background-color: white;
}

header {
    width: 100%; height: 150px; left: 0px; top: 0px; position: absolute; background: #3C0909;
}

#header-title-mainlogin {
    left: 107px; top: 58px; position: absolute; color: white; font-size: 25px; font-family: Koh Santepheap; font-weight: 400; word-wrap: break-word;
}

#searchbar-mainlogin {
    width: 740px; height: 55px; left: 282px; top: 47px; position: absolute; background: white;
}

#searchbar-title-mainlogin {
    width: 313px; height: 21px; left: 302px; top: 63px; position: absolute; color: rgba(0, 0, 0, 0.37); font-size: 20px; font-family: Koh Santepheap; font-weight: 400; word-wrap: break-word;
}

#line-mainlogin {
    width: 40px; height: 0px; left: 950px; top: 55px; position: absolute; transform: rotate(90deg); transform-origin: top left; outline: 1px rgba(0, 0, 0, 0.37) solid; outline-offset: -0.50px;
}

#header-perfil-mainlogin {
    width: 36px; height: 36px; left: 1070px; top: 57.5px; position: absolute; color: white; font-size: 15px; font-family: Koh Santepheap; font-weight: 400;
}

#header-criar-mainlogin {
    width: 200px; height: 15px; left: 1120px; top: 66px; position: absolute; color: white; font-size: 15px; font-family: Koh Santepheap; font-weight: 400; word-wrap: break-word;
}

#header-disc-mainlogin {
    width: 30.83px; height: 30.83px; left: 67.08px; top: 57.08px; position: absolute;
}

#header-cart-mainlogin {
    width: 20px; height: 20px; left: 1339px; top: 65.5px; position: absolute;
}

#searchbar-zoom-mainlogin {
    width: 17.50px; height: 17.50px; left: 979px; top: 66px; position: absolute;
}

#navebar-limit-mainlogin {
    width: 100%;
    height: 90px;
    left: 0px;
    top: 150px;
    position: absolute;
    overflow: hidden;
}
  
#navebar-img-mainlogin {
    width: 100%;
    left: 0px;
    top: -390px;
    position: absolute;
}

#navebar-mainlogin {
    width: 100%;
    height: 140px;
    left: 0px;
    top: 240px;
    position: absolute;
    background: #3c0909;
}
  
#navebar-text-mainlogin {
    left: 77px;
    top: 290px;
    position: absolute;
    color: white;
    font-size: 35px;
    font-family: Koh Santepheap;
    font-weight: 400;
    word-wrap: break-word;
}

#price-mainlogin {
    color: #3C0909; font-size: 35px; font-family: Koh Santepheap; font-weight: 700; word-wrap: break-word;
}

#or-mainlogin {
    color: black; font-size: 35px; font-family: Koh Santepheap; font-weight: 300; word-wrap: break-word;
}

#parcel-mainlogin {
    color: #3C0909; font-size: 35px; font-family: Koh Santepheap; font-weight: 700; word-wrap: break-word;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 150px;
    row-gap: 50px;
    padding: 60px 20px;
    margin-top: 400px;
}

#card-mainlogin {
    background: #E7E7E7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    width: 550px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#overlayer-card-mainlogin {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 450px;
    width: 100%;
}

#image-card-mainlogin {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: -420px;
    z-index: 1;
    position: relative;
    align-self: center;
}   

#title-card-mainlogin {
    color: #3C0909;
    font-size: 35px;
    font-family: Koh Santepheap;
    font-weight: bold;
    margin-top: 50px;
    padding-left: 45px;
}

#subtitle-card-mainlogin {
    color: #3B3A3A;
    font-size: 20px;
    font-family: Inria Serif;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 45px;
}

#price-card-mainlogin {
    color: #3C0909;
    font-size: 35px;
    font-family: Koh Santepheap;
    padding-left: 45px;
    #price-mainlogin {
        font-weight: bold;
    }
    #parcel-mainlogin {
        font-weight: bold;
    }
}

#button-card-mainlogin {
    width: 206px;
    height: 74px;
    margin-top: 40px;
    background: #3C0909;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}

#text-button-card-mainlogin {
    color: white;
    font-size: 30px;
    font-family: Inria Serif;
    font-weight: 700;
    word-wrap: break-word;
    padding: 19px 42px;
}
